@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap');

@media (min-width:390px) and (max-width:844px) {
    .navGen{
        width: 68% !important;
    }
    .mainGen{
        width: 90% !important;
        min-height: 70vh !important;
        align-items: center !important;
        

    }
     .paragrafOne{
        margin: auto;
        width: 80% !important;
        margin-left: 0 !important;
     }
     
     .circuloGen{
        margin: auto;
        width: 80%;
     }
     .circuloUno{
        height: 40px !important;
        width: 40px !important;
        margin-top: 395px !important;
     }
     .circuloDos{
        height: 40px !important;
        width: 40px !important;
     }
     .circuloTres{
        height: 100px!important;
        width: 100px !important;
        bottom: -460px !important;
        left: -1px !important;
        margin-left: 0 !important;
     }
     .imgGirl{
      display: none;
        
     }
     .mainDos{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        padding: 0px !important;
        min-height: 80vh !important ;
     }
     .discover{
        margin: auto !important;
        text-align: center !important;
        width: -webkit-fill-available !important;
     }
     .byJoing {
        text-align: center !important;   
    }

    .twoMain{
        min-height: vh !important;
    }
    .maintwoGen{
        width: 70% !important;
    }
    .circuloGene{
        display: none !important;
    }
    .parraf{
        margin-top: 30px!important;
    }
    .genJouin{
        flex-direction: column !important;
    }
     .joinThe{
         margin-right: 0 !important;
     }
     .imputGen{
        width: 250px !important;
     }
     .buttons {
        width: 250px !important;
     }
    .footer{
        width: 95%!important;
    }


    

}

@media (min-width: 768px  ) and (max-width:1024px ) {
    .navGen{
        width: 80% !important;
    }
    .mainGen{
        width: 90% !important;
        min-height: 70vh !important;
        align-items: center !important;
        

    }
     .paragrafOne{
        margin: auto;
        width: 80% !important;
        margin-left: 0 !important;
     }
     
    .imgGirl{
        height: 390px !important;
    }
    .circuloGen{
        margin: auto;
        width: 80%;
     }
     .circuloUno{
        height: 80px !important;
        width: 80px !important;
        margin-top: 395px !important;
     }
     .circuloDos{
        height: 80px !important;
        width: 80px !important;
     }
     .circuloTres{
        height: 100px!important;
        width: 100px !important;
        bottom: -460px !important;
        left: -3px !important;
     }
     .mainDos{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        padding: 0px !important;
        min-height: 80vh !important ;
     }
     .iconTres{
        justify-content: center !important;
     }
     .discover{
        margin: auto !important;
        text-align: center !important;
        width: -webkit-fill-available !important;
     }
     .byJoing {
        text-align: center !important;
    }
    .footer{
        width: 98%!important;
    }

}

@media  (max-width: 1280px)  and (min-width:800px ) {
    .navGen{
        width: 90% !important;
    }
    
    .mainGen{
        width: 90% !important;
        min-height: 70vh !important;
        align-items: center !important;
    }
     .paragrafOne{
        margin: auto;
        width: 80% !important;
        margin-left: 0 !important;
     }
     
    .imgGirl{
        height: 390px !important;
    }
    .circuloGen{
        margin: auto;
        width: 80%;
     }
     .circuloUno{
        height: 280px !important;
        width: 280px !important;
        margin-top: 175px !important;
     }
     .circuloDos{
        height: 280px !important;
        width: 280px !important;
     }
     .circuloTres{
        height: 300px!important;
        width: 300px !important;
        bottom: -190px !important;
        left: 6px;
     }
     .mainDos{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        padding: 0px !important;
        min-height: 80vh !important ;
     }
     .iconTres{
        justify-content: center !important;
     }
     .discover{
        margin: auto !important;
        text-align: center !important;
        width: -webkit-fill-available !important;
     }
     .byJoing {
        text-align: center !important;
    }
    .footer{
        width: 100%!important;
    }
}



.mainGen {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 95vh;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
.blockOne {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}
.paragrafOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 120px;
}
.paragraft {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: start;
}

.imgGirl {
  height: 850px;
  margin-top: 40px;
  z-index: 4;
}

.accept-button {
  background-color: #1762a7;
  border: none;
  color: white;
  z-index: 4;
}

.button {
  height: 35px;
  width: 100px;
  border-radius: 6px;
  transition: all 0.1s ease;
}

.button:hover {
  background-color: #2180d8;
  filter: brightness(115%);
}

.circuloGen {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 80px;
}

.circuloUno {
  height: 620px;
  width: 620px;
  background: #bc3a801a;
  border-radius: 400px;
  margin-top: 220px;
  margin-left: 40px;
}

.circuloDos {
  height: 620px;
  width: 620px;
  background: #3457b21a;
  border-radius: 400px;
  margin-left: 40px;
}
.tresCirculo{
    display: flex;
    flex-direction: row-reverse;
   position: absolute;
   margin-left: 1120px;
   margin: auto;
    width: 100%;
}
.circuloTres {
  height:450px;
  width: 450px;
  background: #3457b21a;
  border-radius: 120% 0 0 0;
  margin-left: 40px;
  position: relative;
  bottom: -520px;
   
}



.mainDos{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    min-height: 90vh;
    align-items: center;
    padding: 100px;
    color: white;
}
.discover{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: start; 
    width: 590px;
}
.iconTres{
    display: flex;
    flex-direction: row;
    margin: 30px;
    
}
.iconName{
    background: #202027 ;
    padding: 20px;
    width: 50px;
    height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.iconsJunior{
    height: 40px;
    margin: 10px;
}

.coverImg{
    height: 350px;
    margin-left: 0;
}
.byJoing{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: start;
}


.link{
    
    text-decoration: none;
    cursor: pointer;
    color: white;
}